
body {
	background-color: var(--lightgrey);
}

/* classes */

/*---bg-colors---*/
.bg-grey { background-color: var(--grey); }

.bg-white { background-color: rgba(255, 255, 255, 0.7); }

/*---containers---*/
.lg-container { width: 100% !important; }

@media (min-width: 992px) {

	.lg-container {
		width: 76% !important;
		margin: 0 auto 1rem;
	}

}

/* the-end-of-classes */



/* buttons */

.orange-btn {
	color: white !important;
	background-color: var(--orange) !important;
	font-weight: bold;
	padding: 6px;
	box-shadow: inset 0px -5px 5px #e49b00, 0px 0px 5px #bfc1c4;
}

.yellow-btn {
	width: 100%;
	background-color: var(--yellow);
	color: black;
	padding: 5px 1.5rem;
	text-align: left;
	position: relative;
	font-size: 13px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.yellow-btn::before {
		content: "\f0a9";
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		background-color: var(--purple);
		width: 35px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		color: white;
		font-size: 16px;
		font-family: fontAwesome;
	}


/* the-end-of-buttons */



/* links */

.white-link {
	color: white;
	transition: color .3s;
	font-size: 13px;
}

.white-link:hover {
	color: var(--yellow);
}

/* the-end-of-links */