
/* loading-ani */

@keyframes rotateCircles {

	from {

		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);

	}

	to {

		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);

	}

} 

@keyframes firstCircle {

	from {

		right: 1px;
		bottom: 1px;
		opacity: .4;

	}

	to {

		right: 5px;
		bottom: 5px;
		opacity: .9;

	}

}

@keyframes secondCircle {

	from {

		left: 1px;
		bottom: 1px;
		opacity: .4;

	}

	to {

		left: 5px;
		bottom: 5px;
		opacity: .9;

	}

}

@keyframes thirdCircle {

	from {

		right: 1px;
		top: 1px;
		opacity: .4;

	}

	to {

		right: 5px;
		top: 5px;
		opacity: .9;

	}

}

@keyframes fourthCircle {

	from {

		left: 1px;
		top: 1px;
		opacity: .4;

	}

	to {

		left: 5px;
		top: 5px;
		opacity: .9;

	}

}

.fl-loading-ani {
	background-color: var(--grey);
}	

.loading-ani-con {
	font-size: 0;
	animation-name: rotateCircles;
  	animation-duration: 1.2s;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
  	animation-delay: 0s;
  	width: 30px;
  	margin-top: 2rem;
}

.loading-ani-circle {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: var(--yellow);
	border-radius: 50%;
	animation-timing-function: linear;
  	animation-iteration-count: infinite;
  	animation-duration: 1.2s;
  	animation-direction: alternate;
  	animation-delay: 0s;
}

.loading-ani-circle:first-child {
	animation-name: firstCircle;
}

.loading-ani-circle:nth-child(2) {
	animation-name: secondCircle;
}

.loading-ani-circle:nth-child(3) {
	animation-name: thirdCircle;
}

.loading-ani-circle:last-child {
	animation-name: fourthCircle;
}

/* the-end-of-loading-ani */



/* navbar */

.navbar-container {
	width: 100%;
	padding: 0 1.1rem 1.1rem !important;
	position: relative;
	z-index: 5;
}

.navbar-container:last-child {
	padding-bottom: 0 !important;
}

.fl-navbar {
	padding: 0 !important;
	background-image: url("../images/bg-img.jpg");
	background-position: center center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 400px;
	align-content: flex-start;
	align-items: flex-start;
	background-color: var(--lightgrey2);
}

.fl-navbar::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(26,27,27,0.6);
	z-index: 0;
}

.fl-navbar::after {
	content: " ";
	position: absolute;
	background-image: url(../images/navbar-brand.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70% auto;
	top: 0;
	left: 0;
	width: 100%;
	opacity: .7;
	height: 100%;
}

.fl-navbar .fl-navbar-brand,
.fl-navbar .fl-navbar-toggler,
.fl-navbar .fl-navbar-links,
.fl-navbar-search-parent {
	margin-top: 1.1rem !important;
}

.fl-navbar.fl-new-styled-navbar .navbar-container:last-child {
	display: none !important;
}

.fl-navbar .fl-navbar-nav {
	margin-top: 0 !important
}

@media (min-width: 700px) {

	.fl-navbar {
		background-size: 100% auto;
		height: 400px;
	}

}

@media only screen and (min-width: 992px) {

	.navbar-container {
		width: 100%;
		padding: 0 12% 0.7rem 12% !important;
	}	

	.fl-navbar .fl-navbar-brand,
	.fl-navbar .fl-navbar-toggler,
	.fl-navbar .fl-navbar-links,
	.fl-navbar-search-parent {
		margin-top: 0.7rem !important;
	}

/*	.fl-navbar {
		background-size: 100% auto;
		height: 400px;
	}*/

}

/* the-end-of-navbar */



/* navbar-brand */

.fl-navbar-brand {
	width: 170px !important;
}

@media (min-width: 576px) {

	.fl-navbar-brand {
		width: 200px !important;
	}

}

/* the-end-of-navbar-brand */



/* navbar-toggler */

.fl-navbar-toggler {
	background-color: var(--yellow);
}

.fl-navbar-toggler-line::before,
.fl-navbar-toggler-line,
.fl-navbar-toggler-line::after {
	background-color: var(--grey) !important;
}

.fl-navbar-toggler.fl-active .fl-navbar-toggler-line {
	background: transparent !important;
}	

/* the-end-of-navbar-toggler */



/* navbar-links */

.fl-navbar-links-item:not(:first-child) {
	margin-left: 0.3rem;
}

.fl-navbar-links-item:last-child {
	margin-left: 2rem;
}

.navbar-links-rounded-link {
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;
	color: var(--grey) !important;
	background-color: var(--lightgrey) !important;
}

/* the-end-of-navbar-links */



/* navbar-nav */

@media only screen and (min-width: 992px) {

	.fl-navbar-nav {
		width: 100%;
	}

	.fl-nav-item {
		margin-left: 0 !important;
		width: 16.6666667% !important;
	}

	.fl-nav-link {
		width: 100% !important;
		padding: 0.5rem 0;
		color: black !important;
		font-size: 14px;
		border-left: 6px solid transparent;
		transition: background-color .3s;
	}

	.fl-dropdown-menu-con {
		transition-duration: 0s; 
	}

	.fl-nav-item-dropdown:hover .fl-nav-link,
	.fl-nav-link:hover,
	.fl-nav-link.fl-active {
		text-decoration: underline;
		background-color: var(--yellow);
		border-color: var(--purple);
	}

	.fl-dropdown-menu-con {
		min-width: 130%;
		top: .8rem !important;
	}

	.fl-dropdown-menu {
		border-radius: 0;
		padding: 0;
	}

	.fl-dropdown-menu-link {
		padding: .5rem 0 .5rem 3.3rem;
		color: black !important;
		font-size: 14px;
		background-color: white;
		position: relative;
	}

	.fl-dropdown-menu-link:hover {
		background-color: var(--yellow);
	}

	.fl-dropdown-menu-link::before {
		content: "\f0a9";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background-color: var(--purple);
		width: 35px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		color: white;
		font-size: 16px;
		opacity: 0;
		transition: opacity .3s;
		font-family: fontAwesome;
	}

	.fl-dropdown-menu-link:hover::before {
		opacity: 1;
	}

}

/* the-end-of-navbar-nav */



/* md-menu */

@media only screen and (max-width: 991px) {

	.fl-md-menu {
		z-index: 19;
		width: 250px;
		background-color: white;
		min-height: 100vh;
		padding: 1rem 0;
	}	

	.fl-md-menu-link {
		text-align: left;
		padding: 5px 1rem;
		font-weight: normal;
		color: black;
		background-color: transparent;
	}

	@media (hover: hover) {

		.fl-md-menu-link:hover {
			background-color: var(--yellow);
		}

	}	

	.fl-md-menu-link.fl-active,
	.fl-md-menu-link:active {
		background-color: var(--yellow);
	}

	.fl-md-menu-dropdown-menu-item:last-child {
		border-bottom: 2px solid var(--yellow);
		padding-bottom: 0.3rem;
	}

	.fl-md-menu-dropdown-menu-link {
		color: black;
		font-size: 14px;
		text-align: left;
		padding: 0 1rem;
		font-weight: normal;
	}


}	

/* the-end-of-md-menu */





